.citacao-bio {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    box-sizing: border-box;
    margin: 20px 40px;
    padding: 20px;    
}

cite {
    font-style: italic;
    float: right;
}

.fiat {
    float: right;
    margin-right: 40px;
}

.petrobras {
    float: left;
    margin-right: 40px;
}